<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <p> URL Generated: http://localhost/url <%= id %> </p>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
      </form>

      <button type="submit">Generate</button>
    </div>
  </body>
</html>
