/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #e8dede;
}

.container {
  text-align: center;
  width: 500px;
}

#todo-input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

#add-btn {
  padding: 10px;
  cursor: pointer;
  background-color: #e6c84e;
}

ul {
  list-style-type:lower-greek ;
  padding: 2px;
}

li {
  background: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  position: relative;
  transition: 0.2s;
}

li.completed {
  text-decoration: line-through;
  color: rgb(113, 84, 84);
  background-color: #242020;
}

.delete-btn {
  position: absolute;
  right: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 7px;
}
