* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 📌 Common Breakpoint Sizes (Industry Standard)
Device	Width
Mobile Small	320px
Mobile Large	480px
Tablet	768px
Laptop	1024px
Desktop	1200px+ */

/* @media - Responsive CSS likhne ka tareeka
max-width - Screen width kam ya barabar hone par style
min-width - Screen width zyada ya barabar hone par style
orientation - Portrait ya landscape ke liye style
hover - Hover support check karne ke liye */

.container {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: black;
}

/* .box1 {
    border: 10px solid black;
    height: 100px;
    width: 200px;
    background-color: blue;
} */

/* for tablet users  */
/* @media (max-width : 768px) {
    .container {
        width: 50%;
    }
} */

/* for mobile users  */
/* @media (max-width : 480px) {
    .container {
        width: 100%;
    }
} */


/* Merge Both in One  */
@media (min-width: 400px) and (max-width: 800px) {
    .container {
        background-color: lightgreen;
        border: 5px solid white;
        color: red;
    }
}

/* for Height  */
/* @media (min-height: 200px) and (max-height: 600px) {
    .box1 {
        background-color: red;
        border: 3px solid gray;
        color: yellow;
    }
} */

/* Orientation  */
/* @media (orientation: landscape) {
    .box1 {
        background-color: red;
        border: 3px solid gray;
        color: yellow;
    }
} */


/* Hover  */
/* Device that support hover  */
@media (hover: hover) {
    .button:hover {
        background-color: green;
        color: white;
    }
}

/* Device that not support hover  */
@media (hover: none) {
    .button {
        background-color: red;
        color: white;
    }
}